name: Run expreccs

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-expreccs-local:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install Flow Simulator
      run: |
        sudo apt-get update
        sudo apt-get install software-properties-common
        sudo apt-add-repository ppa:opm/ppa
        sudo apt-get update
        sudo apt-get install mpi-default-bin
        sudo apt-get install libopm-simulators-bin

    - name: Install plotting (LaTeX) dependencies
      run: |
        sudo apt-get install texlive-fonts-recommended texlive-fonts-extra dvipng cm-super
        
    - name: Install dependecies
      run: |
        pip install --upgrade pip setuptools wheel
        pip install -r dev-requirements.txt
        
    - name: Install expreccs
      run: |
        pip install .
        
    - name: Check code style and linting 
      run: |
        black --check src/ tests/ examples/
        pylint src/ tests/ examples/
        mypy --ignore-missing-imports src/ tests/ examples/
      
    - name: Run the tests
      run: |
        pytest -x --cov=expreccs --cov-report term-missing tests/
        
    - name: Build documentation
      run: |
        pushd docs
        make html
